
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp">


<link rel="stylesheet" type="text/css" href="~/H-Ui/static/h-ui/css/H-ui.min.css">
<link rel="stylesheet" type="text/css" href="~/H-Ui/static/h-ui.admin/css/H-ui.admin.css">
<link rel="stylesheet" type="text/css" href="~/H-Ui/lib/Hui-iconfont/1.0.8/iconfont.css">
<link rel="stylesheet" type="text/css" href="~/H-Ui/static/h-ui.admin/skin/default/skin.css" id="skin">
<link rel="stylesheet" type="text/css" href="~/H-Ui/static/h-ui.admin/css/style.css">

</head>
@{
    
    List<OA_System.PremissAsUser> pulist = ViewBag.data as List<OA_System.PremissAsUser>;
    
    }

<body>
<nav class="breadcrumb"><i class="Hui-iconfont"></i> 首页 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont"></i></a></nav>
<div class="page-container">
	<div class="text-c">
		<form class="Huiform" method="post" id="queryform" target="_self">
            @*保存当前页*@
            <input type="hidden"  id="currentPage" name="currentPage" />
			<input class="input-text" style="width:250px" placeholder="权限名称" id="preName" name="preName" type="text">
			<button type="submit" class="btn btn-success" id="seachBtn" name=""><i class="Hui-iconfont"></i> 搜权限节点</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" id="meneyDel"  class="btn btn-danger radius"><i class="Hui-iconfont"></i> 批量删除</a> <a href="/Premiss/addIndex"  class="btn btn-primary radius"><i class="Hui-iconfont"></i> 添加权限</a></span> </div>
	<table class="table table-border table-bordered table-bg" id="preTable">
		<thead>
			
			<tr class="text-c">
				<th><input name="" value="" id="inputCount" type="checkbox"></th>
				<th>父级ID</th>
                <th>权限ID</th>
				<th>权限名称</th>
				
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
            @{
                foreach (var item in pulist)
                {
			<tr class="text-c">
				<td><input value="@item.ID" name="" type="checkbox"></td>
                @{
                    if (item.ParenId == null)
                    { 
                        <td>也为父级</td>
                    }else{
				<td>@item.ParenId</td>
                }
                }
				<td>@item.PremissId</td>
				<td>@item.PremissName</td>
				<td><a title="编辑" href="/Premiss/UpPreIndex?preId=@item.ID"  class="updatePre" style="text-decoration:none"><i class="Hui-iconfont"></i></a> <a title="删除" href="#" class="delBtn" style="text-decoration:none"><i class="Hui-iconfont"></i></a></td>
			</tr>
                }
            }
		</tbody>
	</table>

    

    <div style="float:left;">
         
         <ul class="pagination" id="pagination1"> </ul>
    </div>
</div>

</body>
<script src="~/JS/jquery-1.9.1.min.js"></script>
<script src="~/JS/layer/mobile/layer.js"></script>
<link href="~/JS/Style/page.css" rel="stylesheet" />
<script src="~/JS/jqPaginator.js"></script>

<script>
    $(function () {

        //单个删除权限
        $(".delBtn").click(function(){
        
            //得到当前点击的行
            var preId=$(this).parent().parent().find("td").find("input[type='checkbox']").val();
            console.log(preId);

            $.ajax({
                url:'/Premiss/DelOneById',
                type:'post',
                data:{preId:preId},
                success:function(result){

                    if(result.message=="success")
                    {
                        layer.open({
                            title:'温馨提示',
                            content:'删除成功',
                            btn:['确定'],
                            yes:function(){
                                
                                layer.closeAll();
                                location.href="/Premiss/Index";
                            }
                        });
                    }

                    if(result.message=="failure")
                    {
                        layer.open({
                            title:'温馨提示',
                            content:'该权限下有子权限，不能删除！',
                            btn:['确定'],
                            yes:function(){
                            
                                layer.closeAll();
                            }

                        });
                    }
                
                }

            });
        
        });

       
        //多条删除

        $("#meneyDel").click(function(){
            var PreIdSrt="";
            $("#preTable").find("input[type='checkbox']:not(#inputCount):checked").each(function(){
                PreIdSrt+=$(this).val()+",";
            });

         
            
            if(PreIdSrt!="")
            {
                $.ajax({
                    url:'/Premiss/DelMuchPreById',
                    type:'post',
                    data:{PreIdStr:PreIdSrt},
                    success:function(result){
                        if(result.message=="success")
                        {
                            layer.open({
                                title:'温馨提示',
                                content:'删除成功',
                                btn:['确定'],
                                yes:function(){
                                
                                    layer.closeAll();
                                    location.href="/Premiss/Index";
                                }
                            });
                        }

                        if(result.message=="failure")
                        {
                            layer.open({
                                title:'温馨提示',
                                content:'批量删除不删除父级权限',
                                btn:['确定'],
                                yes:function(){
                                
                                    layer.closeAll();
                                  
                                }
                            });
                        }
                    }
                });
            }else
            {
                layer.open({
                    title:'温馨提示',
                    content:'请选择要删除的权限',
                    btn:['确定'],
                    yes:function(){
                                
                        layer.closeAll();
                    
                    }
                });
            }
        
        });

        //全选与全不选

        $("#inputCount").click(function(){

            $("#preTable").find("input[type='checkbox']:not(#inputCount)").prop("checked",$("#inputCount").prop("checked"));
           
        });

        //当checkbox 选完时首个checkbox框也勾选上

        $("#preTable").find("input[type='checkbox']:not(#inputCount)").click(function(){
        
            $("#inputCount").prop("checked", $("#preTable").find("input[type='checkbox']:not(#inputCount)").length==$("#preTable").find("input[type='checkbox']:not(#inputCount):checked").length)
        
        });



        //条件查询

        $("#seachBtn").click(function () {
            $("#queryform").submit();
            $("#currentPage").val(1);

        });

        //分页查询
        $.jqPaginator("#pagination1", {
            totalPages:@ViewBag.totalpage,
                        visiblePages: 10,
                        currentPage:@ViewBag.currentPage,
                first: '<li class="first"><a href="javascript:;">首页</a></li>',
                prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                next: '<li class="next"><a href="javascript:;">下一页</a></li>',
                last: '<li class="last"><a href="javascript:;">尾页</a></li>',
                page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                onPageChange: function (num, type) {

                    if (type != "init") {
                        

                        //赋值当前页

                        $("#currentPage").val(num);

                        $("#queryform").submit();
                    }

                }

                    });


    });
</script>


